nudge:
  sendgrid:
    api-key: ${SENDGRID_API_KEY}

  servers: https://api.knox.gb.net, http://localhost:8080

spring:
  application:
    name: nudge

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${JWK_SET_URI}
